<!--View for the signup page for a new user-->
<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
	<!--Describes 6 columns in a row (span6)-->
	<!--Offset moves the columns over by 3 to the right-->
	<div class="span5 offset3">
		<!--Takes a block variable, f which we call f
		@user implies that the field included are of the User class
		@user must be created as a new variable in the user controller
		with the form @user=User.new-->
		<%= form_for(@user) do |f| %>
			<!--Render an error message if one exists
			Renders the partial 'shared/error_messages'-->
			<!--Because we user the 'shared' directory, we must also create a 'shared'
			view directory and a partial file (in the 'shared' directory)-->
			<%= render 'shared/error_messages' %>

			<!--Create labels and appropriate text fields for the :name attributes-->
			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field :password_confirmation %>

			<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>