<!--Display the username and corresponding email addres-->
<!--Set the title equal to the username-->
<% provide(:title, @user.name) %>
<!--Create a header with the value of the username-->
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<!--include the user's avatar and username in the header-->
				<%= gravatar_for @user, size: 60 %>
				<%= @user.name %>
			</h1>
		</section>
		<section>
			<!--Render the number of following and followed users-->
			<%= render 'shared/stats' %>
		</section>
	</aside>
	<!--Create a new division for displaying user microposts-->
	<div class="span8">
		<!--Display the follow/unfollow option, but only if the user is signed in-->
		<%= render 'follow_form' if signed_in? %>
		<!--Do not display an empty list-->
		<% if @user.microposts.any? %>
			<!--Display the number of microposts-->
			<h3>Microposts (<%= @user.microposts.count %>)</h3>
			<!--Ordered list of microposts-->
			<ol class="microposts">
				<!--renders partial, _micropost, using the current array of microposts, @microposts-->
				<!--@microposts must be defined in the show action of User controller because this is a User view-->
				<!--Normally you would not have to input the variable, but this is a variable different than the variable of the view's controller-->
				<%= render @microposts %>
			</ol>
			<!--Only display pages at the bottom of the page-->
			<%= will_paginate @microposts %>
		<% end %>
	</div>
</div>
